.proyecto_container_container_real {
  margin-bottom: 10px;
  width: 100vw;
  height: 570px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.proyecto_container_real {
    width: 95%; 
    height: 100%;
    background-color: rgb(79, 115, 247);
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
  }

.proyecto_foto{
  background-color: aqua  ;
  margin-top: 18px;
  width: 100%;
  height: 100%;
}  

/* BOTÓN MÁS INFORMACIÓN */

.boton_mas_informacion_container {
  margin-top: 15px;
  margin-bottom: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.boton_mas_informacion {
  border-radius: 5px;
  background-color: rgb(76, 240, 6);
  color: white;
  padding: 4px;
  font-weight: bolder;
}

/* slider tecnologías */


.proyecto_container_real {
  overflow: hidden;
}

.slider_tecnologias {
  display: flex;
  gap: 15px;
  white-space: nowrap;
  animation: scroll 20s linear infinite;
  width: max-content;
}

.slider_tecnologias p {
  flex: 0 0 auto;
}

/* Duplicar los elementos del slider */
.slider_tecnologias::before {
  content: "";
  flex: 0 0 auto;
  margin-left: auto;
}

/* Animación ajustada para el bucle continuo */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}